body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: #573b8a;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background: #6d44b8;
}
